*{
  box-sizing: border-box;
  color: #000;
  
}

body{
  background-color: rgb(29, 29, 29);
  transition: 1s;
}

#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(248, 149, 235);
}
.my_class{
    color: #61dafb;
}
  .p{
    background: #051d4d;
    color: aliceblue;
  }
  
  .block{
    display: flex;
    justify-content: center;
    /* width: 100px;
    height: 20px; */
    background: rgb(210, 241, 255);
  }
  
  .onclick{
    border-radius: 5px;
    background: rgb(226, 81, 154);
  }
  
  .div {
    display: flex;
    justify-content: space-around;
   
  }
  
  .i {
    width: 200px;
    height: 100px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .item-card{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
  }